.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin: 100px 50px;
}

@media only screen and (max-width: 1200px) {
  .cart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.cart-container {
  background-color: blanchedalmond;
  align-items: start;
}
.pagination {
  margin-left: 200px;
  margin-bottom: 50px;
}
.pagination button {
  margin-right: 10px;
}
.pagination .selected {
  font-weight: bold;
  background-color: rgb(255, 175, 47);
  border: rgb(45, 14, 200);
  width: 40px;
  padding: 12px;
}
